.board-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 190px);
}

.create-board {
  position: absolute;
  bottom: 30px;
  right: 160px;
}

.board-item {
  cursor: pointer;
}

.board-item:hover {
  background-color: lightgray !important;
}
