.write-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.write-btn {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5rem auto;
}
